body {
	margin-top: 0px;
}

div.center {
	width: 1360px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	margin-top: 15px;
	text-align: center;
}

.footer {
	font-size: 11px;
	color: #222222;
    font-family: 'Open Sans', sans-serif;
    vertical-align: middle;
}

.footerinfo {
    display: inline-block;
    vertical-align: middle;
}