<!DOCTYPE html>
<html xmlns:svg="http://www.w3.org/2000/svg">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="Таблица интервалов византийской хоровой музыки"/>
		<title>Таблица интервалов византийской хоровой музыки</title>
		<!--[if lte IE 8]>
		<meta http-equiv="refresh" content="0; url=old_browser.html" />
		<![endif]-->
		<link type="text/css" href="css/main.css" rel="stylesheet" />
		<script src="js/thirdparty/jquery-2.1.3.min.js"></script>
	</head>
	<body>
		<div class="center">
			<object data="svg/table.svg" type="image/svg+xml" id="noteTable" width="1360" height="936"></object>
		</div>

		<script src="js/thirdparty/timbre.js"></script>
		<!-- build:js js/script.min.js -->
		<script src="js/script.js"></script>
		<!-- /build -->

		<div class="footer center">
			<div class="footerinfo">
			<!-- build:template
				Byzantable <%= version %>.
			/build -->
			Created by Sergey Sharov.
			</div>
		</div>
	</body>
</html>